body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-6xl: 25px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #fffefe;
  --color-snow-100: #fffcfc;
  --color-snow-200: #fffbfb;
}
