.macbook-air {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .macbook-air .overlap-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    width: 1280px;
    height: 832px;
  }
  
  .macbook-air .overlap {
    position: relative;
    width: 1663px;
    height: 1165px;
    left: -383px;
  }
  
  .macbook-air .overlap-group {
    position: absolute;
    width: 1280px;
    height: 223px;
    top: 0;
    left: 383px;
  }
  
  .macbook-air .rectangle {
    position: absolute;
    width: 1280px;
    height: 203px;
    top: 0;
    left: 0;
    background-color: #000000;
  }

  .macbook-air .SEM-logo {
    position: absolute;
    width: 327px;
    height: 181px;
    top: 11px;
    left: 0;
    object-fit: cover;
  }
  
  
  
  .macbook-air .home {
    position: absolute;
    width: 111px;
    height: 68px;
    top: 150px;
    left: 392px;
  }
  
  .macbook-air .text-wrapper {
    position: absolute;
    width: 111px;
    top: -1px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #fffbfb;
    font-size: 32px;
    letter-spacing: 1.6px;
    line-height: normal;
  }
  
  .macbook-air .payment {
    position: absolute;
    width: 164px;
    height: 37px;
    top: 150px;
    left: 865px;
  }
  
  .macbook-air .payment-2 {
    position: absolute;
    width: 164px;
    top: -1px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #fffafa;
    font-size: 32px;
    letter-spacing: 1.6px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-air .BOOK-a-SERVICE {
    position: absolute;
    width: 286px;
    height: 37px;
    top: 150px;
    left: 527px;
  }
  
  .macbook-air .text-wrapper-2 {
    position: absolute;
    width: 286px;
    top: -1px;
    left: 0;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #fffcfc;
    font-size: 32px;
    letter-spacing: 1.6px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .macbook-air .feedback {
    position: absolute;
    width: 172px;
    height: 36px;
    top: 150px;
    left: 1078px;
  }
  
  .macbook-air .feedback-2 {
    width: 172px;
    top: -1px;
    left: 0;
    color: #ff6108;
    position: absolute;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: normal;
  }
  
  .macbook-air .overlap-group-2 {
    position: absolute;
    width: 1604px;
    height: 1010px;
    top: 155px;
    left: 0;
  }
  
  .macbook-air .rectangle-4 {
    position: absolute;
    width: 1095px;
    height: 534px;
    top: 238px;
    left: 60px;
    background-color: #fe6109;
    border-radius: 83px;
    transform: rotate(-150deg);
  }
  .macbook-air .star-2 {
    top: 311px;
    left: 1287px;
    position: absolute;
    width: 74px;
    height: 67px;
  }
  
  
  
  .macbook-air .text-wrapper-3 {
    position: absolute;
    width: 222px;
    top: 182px;
    left: 993px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 1.6px;
    line-height: normal;
  }
  
  .macbook-air .give-suggestions {
    position: absolute;
    top: 282px;
    left: 993px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 32px;
    letter-spacing: 1.6px;
    line-height: normal;
  }
  
  .macbook-air .rectangle-5 {
    position: absolute;
    width: 611px;
    height: 2px;
    top: 338px;
    left: 993px;
    background-color: #d9d9d9;
  }
  
  .macbook-air .line {
    width: 1px;
    height: 38px;
    top: 355px;
    left: 1023px;
    position: absolute;
    object-fit: cover;
    color: #000000;
  }
  
  .macbook-air .SEND {
    position: absolute;
    width: 100px;
    top: 550px;
    left: 1504px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #665e5e;
    font-size: 32px;
    letter-spacing: 1.6px;
    line-height: normal;
  }
  
  .macbook-air .span {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #665e5e;
    font-size: 32px;
    letter-spacing: 1.6px;
  }
  
  .macbook-air .text-wrapper-4 {
    width: 192px;
    top: 240px;
    left: 710px;
    color: #000000;
    position: absolute;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 1.4px;
    line-height: normal;
  }
  
  .macbook-air .img {
    width: 863px;
    height: 1px;
    top: 280px;
    left: 710px;
    position: absolute;
    object-fit: cover;
  }
  
  
  
  .macbook-air .star-wrapper {
    position: absolute;
    width: 74px;
    height: 67px;
    top: 311px;
    left: 1375px;
    background-image: url(./img/star-3.svg);
    background-size: 100% 100%;
  }
  .macbook-air .star {
    top: 311px;
    left: 1198px;
    position: absolute;
    width: 74px;
    height: 67px;
  }
  
  .macbook-air .star-3 {
    top: 0;
    left: 0;
    position: absolute;
    width: 74px;
    height: 67px;
  }
  
  .macbook-air .star-4 {
    top: 311px;
    left: 1456px;
    position: absolute;
    width: 74px;
    height: 67px;
  }
  
  .macbook-air .star-5 {
    top: 311px;
    left: 1545px;
    position: absolute;
    width: 74px;
    height: 67px;
  }
  .macbook-air .container{
    position:absolute ;
    width: 611px;
    height: 283px;
    top:-15px;
    left:0px;
  }