*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(2.png);
    background-position: center;
    background-size: cover;
    height: 109vh;


}
.right{
    font-size: 42px;
    font-family: "Inter";
    font-weight: 800;
    color: rgba(255, 255, 255, 1);
    width: 301px;
    height: 220px;
    color: #FFF;
    line-height: normal;
    
    letter-spacing: 2.1px;
    text-transform: uppercase;
}